

html,body{
    background-image: url(https://wallpapercave.com/wp/wp10003822.jpg);
    transform: scale(100%);
    background-size: cover;
    background-blend-mode: overlay;
  }


*{align-items: center}

@import url('https://fonts.cdnfonts.com/css/blood-crow');

h1{
    font-family: 'Blood Crow', sans-serif;
    font-weight: 100;
    color: coral;
    text-align: center;
    text-transform: uppercase;
}
h2{
color: coral; 
text-align: center;
font-family: "Bad Script", cursive ,;
    font-weight: 500;
    font-style: normal;
}

h3{
    color: cornsilk;
    text-align: center;
    font-family: "Bad Script", cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    
      
}

div
{
    width: fit-content;
    text-align: left;
    border: 5px;
    border-style: solid;
    padding: 10px;
    margin: auto;
    border-color:beige;

}

p{
    color: coral;
    text-align: center;
    text-transform: uppercase;
    font-family: "Bad Script", cursive ,sans-serif;
    font-weight: 400;
    font-style: normal;
}

#video{
    text-align: center;
    max-width: 50%;
    max-height: 25%;
}